@import "@/styles/variables";
@import "@/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  padding: 20px;
  gap: 10px;
  
  
  h1 {
    font-size: 1.7rem;
    font-weight: 700;
    color: $primary-color;
  }

  h2 {
    font-size: 1.1em;
    color: $text-color;
    font-weight: 600;
    width: 190px;
    text-align: center;
      margin-top: 15px;
      margin-bottom: 40px;
  }


  .forgot {
    font-size: 0.8rem;
    color: $primary-color;
    font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 190px;
      
  }

  .create_new {
    font-size: 0.8rem;
    font-weight: 600;
      margin-top: 20px;
      margin-bottom: 30px;
  }

    .continue_with {
        font-size: 0.9rem;
        color: $primary-color;
        font-weight: 600;
          margin-top: 20px;
    }
}