@import "@/styles/variables";
@import "@/styles/mixins";

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 55px;
        background: #ECECEC;
        border-radius: 10px;
    }
    .img {
        width: 15px;
background: #ECECEC;

    }
}